/**
 * 메인 헤더 스타일
 */
header.top-bar {
  width: 100%;
  padding: 18px 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    flex: 1;
    color: var(--basic_02);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 24px;
  }

  button {
    width: 24px;
    height: 24px;
    overflow: hidden;
    text-indent: -999px;

    &.history-btn {
      background: url(../images/icon_menu.svg) no-repeat;
    }

    &.close-btn {
      background: url(../images/icon_close.svg) no-repeat 5px;
    }
  }
}

/**
 * 프롬프트 창
 */
div.prompt {
  width: 100%;
  background: var(--white);
  padding: 12px 16px 12px 14px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  box-shadow: 5px -2px 24px rgba(172, 157, 207, 0.1);

  div.input-wrap {
    flex: 1;
    padding: 10px 16px 10px 20px;
    height: 48px;
    background: var(--basic_f2);
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      height: 100%;
      flex: 1;
      background: transparent;
      color: var(--black);
      text-align: justify;
      font-size: 15px;
      font-weight: 600;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: var(--basic_a);
      }
    }
  }

  button {
    width: 28px;
    height: 28px;
    overflow: hidden;
    text-indent: -999px;

    &.home-btn {
      background: url(../images/icon_home.svg) no-repeat 3px 4px;
    }

    &.send-btn {
      background: url(../images/icon_send.svg) no-repeat;

      &:disabled {
        background: url(../images/icon_send_d.svg) no-repeat;
      }
    }
  }
}

/**
 * 메인화면
 */
div.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  &.no-scroll {
    overflow: hidden;
  }

  div.content {
    position: relative;
    width: 100%;
    flex: 1;
    overflow: hidden;

    div.chat {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 20px 20px;
      overflow: hidden;
      overflow-y: auto;

      div.init {
        width: 100%;

        header {
          margin: 0 auto;
          margin-top: 74px;
          width: 236px;
          height: 228px;
          padding: 140px 0 16px;
          color: var(--purple_p);
          font-weight: 400;
          line-height: 36px;
          text-align: center;
          font-size: 24px;
          background: url(../images/img_profile_main_1x.png) no-repeat center top; /* 기본 1x 해상도 */
          background-size: 130px;

          strong {
            font-weight: 800;
          }
        }

        /* 2x 해상도 */
        @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
          header {
            background: url(../images/img_profile_main_2x.png) no-repeat center top;
            background-size: 130px;
          }
        }

        /* 3x 해상도 */
        @media only screen and (min-resolution: 288dpi), only screen and (min-resolution: 3dppx) {
          header {
            background: url(../images/img_profile_main_3x.png) no-repeat center top;
            background-size: 130px;
          }
        }

        div.list {
          width: 335px;
          margin: 0 auto;

          ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px 10px;
            flex-wrap: wrap;

            a {
              display: block;
              padding: 7px 14px;
              color: var(--basic_02);
              font-size: 13px;
              font-weight: 600;
              border-radius: 6px;
              background: rgba(255, 255, 255, 0.6);
              box-shadow: 8px 10px 10px 0px rgba(224, 215, 245, 0.3);
            }
          }
        }
      }
    }

    div.floating-menu {
      position: absolute;
      left: 50%;
      bottom: 20px;
      background: var(--black_12);
      border-radius: 20px;
      transform: translateX(-50%);

      button {
        display: block;
        height: 40px;
        color: var(--white);
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        white-space: nowrap;

        &.history-btn {
          padding: 10px 24px 10px 38px;
          position: relative;
          background: url(../images/icon_record_w.svg) no-repeat 20px 12px;
        }
      }
    }
  }
}

/**
 * Lnb 메뉴
 */
div.aside {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);

  &:after {
    display: none;
  }

  &.is-open {
    transform: translateX(0);

    > div.dim {
      animation: fadeIn 0.3s both;
      animation-delay: 0.3s;
    }

    div.container {
      animation: slideIn 0.3s forwards ease-in-out;
    }
  }

  &.is-close {
    > div.dim {
      animation: fadeOut 0.2s both;
    }

    div.container {
      animation: slideOut 0.3s forwards ease-in-out;
    }
  }

  div.container {
    width: 325px;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    left: 0;
    top: 0;
    background: var(--white);
    margin: 0;
    border-radius: 0;

    header {
      padding: 18px 20px 11px;
      width: 100%;
      height: 103px;
      border-bottom: 1px solid var(--basic_ee);

      button.close-btn {
        display: block;
        width: 24px;
        height: 24px;
        background: url(../images/icon_arrow_left.svg) no-repeat;
        overflow: hidden;
        text-indent: -999px;
      }

      h1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 21px;

        span {
          color: var(--black);
          font-size: 16px;
          font-weight: 800;
          line-height: 28px;
          letter-spacing: -0.3px;
          text-indent: 4px;
        }

        button {
          color: var(--basic_08);
          font-size: 12px;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: -0.3px;
        }
      }
    }

    div.list {
      width: 100%;
      flex: 1;
      padding: 24px 10px 24px 0;
      overflow: hidden;

      dl {
        position: relative;
        padding-top: 24px;

        dt {
          margin-left: 20px;
          color: var(--basic_04);
          font-size: 12px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: -0.3px;
          padding-bottom: 14px;
        }

        dd {
          position: relative;
          width: 298px;
          margin-bottom: 28px;

          &:last-child {
            margin-bottom: 0;
          }

          &:after {
            content: "";
            width: 1px;
            height: 100%;
            position: absolute;
            border-left: 1px dashed var(--basic_e);
            top: 0;
            left: 35px;
            z-index: 1;
          }

          > div {
            width: 298px;
            height: 50px;
            margin-bottom: 14px;
            position: relative;
            z-index: 2;

            &:before {
              content: "";
              display: block;
              width: 24px;
              height: 24px;
              border-radius: 12px;
              position: absolute;
              top: 13px;
              left: 24px;
            }

            &.pc {
              &:before {
                background: url(../images/icon_pc.svg) center center no-repeat var(--basic_e);
              }
            }

            &.mobile {
              &:before {
                background: url(../images/icon_mobile.svg) center center no-repeat var(--basic_e);
              }
            }

            &.on {
              &.pc {
                &:before {
                  background: url(../images/icon_pc_on.svg) center center no-repeat var(--purple_s);
                }
              }

              &.mobile {
                &:before {
                  background: url(../images/icon_mobile_on.svg) center center no-repeat var(--purple_s);
                }
              }

              > div.inner {
                a {
                  color: var(--purple_p);
                }
              }
            }

            > div.inner {
              position: absolute;
              width: 242px;
              height: 50px;
              z-index: 2;
              transition: all 0.3s ease;
              border-radius: 4px;
              box-shadow: 2px 1px 11px 0px rgba(0, 0, 0, 0.14);
              overflow: hidden;
              top: 0;
              left: 56px;

              > a {
                display: block;
                color: var(--basic_02);
                font-size: 14px;
                font-weight: 700;
                padding: 14px 18px;
                width: 242px;
                line-height: 22px;
                background: var(--white);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              &:last-child {
                margin-bottom: 0;
              }

              > button {
                width: 56px;
                height: 50px;
                color: var(--white);
                font-size: 13px;
                font-weight: 600;
                line-height: 20px;
                background: var(--basic_02);
                position: absolute;
                top: 0;
                right: -56px;
                transition: right 0.3s ease;
              }
            }

            &.swiped {
              > div.inner {
                position: absolute;
                width: 298px;
                left: 0;

                button {
                  right: 0;
                }
              }
            }
          }
        }
      }

      .os-scrollbar.os-scrollbar-vertical.os-scrollbar-cornerless {
        padding: 23px 10px 23px 0;
      }

      .os-scrollbar-vertical .os-scrollbar-handle {
        background: var(--basic_f0);
        width: 5px;
        border-radius: 3px;
      }
    }
  }

  div.dim {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
}

/**
 * Lnb 관련 키프레임
 */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes hide {
  1% {
    transform: translateX(0);
  }
  99% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes fadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes fadeOut {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

ul.accordion-list {
  > li {
    border-bottom: 1px solid var(--basic_d);
    max-height: 62px;
    overflow: hidden;
    transition: max-height 0.1s ease;

    > h3 {
      width: 100%;

      > button {
        position: relative;
        line-height: 22px;
        padding: 20px 0;
        position: relative;
        display: block;
        text-align: left;
        width: 100%;
        color: var(--black) !important;
        font-size: 14px;
        font-weight: 800;
        border: none;
        outline: none;

        &:after {
          content: "";
          display: block;
          width: 18px;
          height: 18px;
          background: url(../images/icon_arrow_down_2.svg) no-repeat;
          position: absolute;
          top: 50%;
          right: 6px;
          transform: translateY(-50%);
        }
      }
    }

    > div {
      padding: 14px 0 30px;
      border-top: 1px dashed var(--basic_d);
    }

    &.is-active {
      transition: max-height 0.3s ease;
      max-height: 2000px;

      > h3 {
        > button {
          &:after {
            background: url(../images/icon_arrow_up_2.svg) no-repeat;
          }
        }
      }
    }
  }
}


.loading {
  position: relative;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;

  &:after {
    content: "";
    display: block;
  }

  &:after {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #4911a7;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation-delay: 0s;
  }

  > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    width: 24px;
    height: 10px;

    &:before,
    &:after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    &:before {
      background-color: #a980ec;
      animation-delay: -0.32s;
    }

    &:after {
      background-color: #7b45d3;
      animation-delay: -0.16s;
    }
  }

  @keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
  }
}